body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  transition: opacity .27s, color .27s;
  letter-spacing: .1rem;
}

a:hover {
  opacity: .7;
  color: black;
}

a:active {
  opacity: .6;
  color: black;
}


/* Header */

header {
  position: fixed;
  top: 0;
  padding: 1rem 0;
  background-color: pink;
  width: 100%;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  z-index: 5;
}

nav {
  justify-content: space-evenly;
  padding-left: 1rem;
}

nav > * {
  padding: 0 .7rem;
  font-family: 'Zen Antique', serif;
}

#drum-kit {
  font-size: 3rem;
  margin: 0;
  margin-left: -2rem;
  margin-left: -6rem;
  font-family: 'Kodchasan', sans-serif;
  animation: none;
}

#drum-kit:hover {
  opacity: 1;
  cursor: auto;
}

#sign-in {
  padding-right: 1.4rem;
  font-family: 'Zen Antique', serif;
}

@media (max-width: 815px) {
  header {
    display: grid;
    gap: 0;
    padding: .2rem 0;
  }

  nav {
    margin: 0;
    padding: 0 .4rem;
    font-size: 1rem;
    grid-column: 1 / span 2;
    grid-row-start: 2;
  }

  #drum-kit {
    grid-column: 1 / span 4;
    grid-row-start: 1;
    margin: 0;
    justify-self: center;
  }

  #sign-in {
    padding: 0;
    font-size: 1rem;
    grid-column-start: 3;
    grid-row-start: 2;
  }
}


/* Footer */

footer {
  position: sticky;
  bottom: 0;
  padding: 4rem;
  background-color: rgb(255, 168, 183);
  font-family: 'Zen Antique', serif;

  display: flex;
  justify-content: space-evenly;
}

.footer-div {
  display: grid;
  grid-template-rows: auto;
  gap: .5rem;
}

h3 {
  color: rgb(49, 49, 49);
}

@media (max-width: 815px) {
  footer {
    font-size: .9rem;
    padding: 0;
    padding-bottom: 1rem;
  }

  .footer-div {
    gap: .1rem;
  }
}


/* Body Container */

.body-container {
  position: relative;
  margin-top: 0;
  width: 100%;
  min-width: 360px;
  min-height: 135vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

#Video {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

h1 {
  display: flex;
  margin-bottom: 23rem;
  font-size: 3rem;
  font-family: 'Odibee Sans', cursive;
  letter-spacing: .3rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 3;
  transform-style: preserve-3d;
  transition: opacity .25s;
  animation: engage 2s infinite;
}

h1:hover {
  cursor: pointer;
  opacity: .75;
}

@keyframes engage {
  0% {
    scale: 1;
  }
  25% {
    transform: rotateZ(10deg);
    scale: 1.1;
  }
  50% {
  transform: rotateZ(0);
  scale: 1;
  }
  75% {
    transform: rotateZ(-10deg);
    scale: 1.1;
  }
  100% {
    transform: rotateZ(0);
  }
}

h1:hover {
  cursor: pointer;
  opacity: .7;
}

@media (max-width: 815px) {
  .body-container {
    min-height: 72rem;
    width: 100%;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 35rem;
  }
}


/* Content */

.content {
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding-bottom: 8rem;
}

h2 {
  z-index: 3;
  font-size: 1.7rem;
  margin-top: 1rem;
  margin-bottom: .6rem;
  font-family: 'Kodchasan', sans-serif;
}

.switch {
  position: relative;
  display: inline-block;
  width: 3.9rem;
  height: 2.2rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 166, 181);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: .4rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.7rem;
  width: 1.7rem;
  left: .23rem;
  bottom: .24rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 30%;
}

input:checked + .slider {
  background-color: rgb(121, 255, 248);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(121, 255, 248);
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.6rem);
  -ms-transform: translateX(1.6rem);
  transform: translateX(1.6rem);
}

@media (max-width: 815px) {
  .content {
    padding-bottom: 2.5rem;
  }
  .h2 {
    font-size: 1.2rem;
    padding: 0;
  }
}


/* Container */

.container {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}

.btn {
    padding: 1.5rem 2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    margin: .5rem;
    font-size: 2.4rem;
    min-width: 1rem;
    border-radius: .6rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-size: cover;
    color: white;
    font-family: cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-transform: capitalize;
    opacity: .9;
    transition: color .25s;
}

.btn:hover {
  color: rgb(255, 118, 141);
}
  
.btn:active {
  background-size: 105%;
}

@media (max-width: 815px) {

  .container {
    flex-direction: column;
  }

  .btn {
    padding: 1rem 1.5rem;
  }
}